extends layout

block content
    div(class="banner container-fluid")
        div(class="welcome-container")
            div(class="outer-container")
                div(class="h2 info") Welcome To 
                    span(class="title") Montflix
                    | .
                p(class="card-text subtitle") More than just movies and Tv shows. Explore Now.
                div(class="form mt-2")
                    form(method="POST" action="#")
                        div(class="input-group mb-3")
                            input(type="text" class="form-control input-search" placeholder="Search for a movie / tv show..." aria-label="searchValue" aria-describedby="basic-addon2" name="searchValue")
                            button( type="submit" class="input-group-text search-btn btn-success" id="basic-addon2") Search
    div(class="whatsPopularInTheatres")
        div(class="h3 tag-info") What's Popular 
            span(class="popular-tag") In Theatres
            | .
        div(class="flex-items")
            each movie in popularMovies.results
                div(class="movie-card")
                    div(class="movie-img-card")
                        img(src=`https://image.tmdb.org/t/p/w500/${movie.poster_path}`, alt="")
                    div(class="card-text movie-title")= movie.title
                    div(class="card-text movie-release-date")= movie.release_date
    div(class="whatsPopularOnTv")
        div(class="h3 tag-info on-tv-text-color") What's Popular 
            span(class="popular-tag") On Tv
            | .
        div(class="flex-items")
            each movie in popularOnTv.results
                div(class="movie-card")
                    div(class="movie-img-card")
                        img(src=`https://image.tmdb.org/t/p/w500/${movie.poster_path}`, alt="")
                    div(class="card-text movie-title tv-text-color")= movie.name
                    div(class="card-text movie-release-date tv-text-color")= movie.first_air_date