extends layout 

block content
    div(class="movie-detail-banner container-fluid")
        //- div(class="movie-container")
        div(class="movie-img")
            img(src=`https://image.tmdb.org/t/p/w500${movieDetails.poster_path}`, alt="")
    div(class="movie-info text-center")
        div(class="movie-detail-title") #{movieDetails.title}
            - const capturedDate = new Date(movieDetails.release_date)
            - let year = capturedDate.getFullYear()
                span(class="yr-released")  ( #{year} )
        div(class="genres-time") 
            i #{movieDetails.status}
            span()  #{movieDetails.release_date} 
            - let genresArray = []
            - movieDetails.genres.map( (genre) => { genresArray.push(genre.name)})
            - let genre = genresArray.join(", ")
                span(class="genres")  #{genre}
        div(class="tagline") #{movieDetails.tagline}
        div(class="overview") Overview
        div(class="overview-description") #{movieDetails.overview}
        div(class="overview mt-1") Trailer
        div(class="trailer-video mt-1")
            iframe(width="320" height="250" src=`https://www.youtube.com/embed/${youTubeKey}`)
    div(class="topMoviesBilledCast")
        div(class="h3 tag-info on-tv-text-color") Top 
            span(class="popular-tag") Billed Cast
            | .
        div(class="flex-items")
            each cast in movieCredits.cast
                div(class="movie-card")
                    div(class="movie-img-card")
                        - let profile_path = cast.profile_path
                        - let apiImage = `https://image.tmdb.org/t/p/w500${profile_path}`
                        - let avatarImage = "https://mir-s3-cdn-cf.behance.net/project_modules/disp/629c1f14015191.5627be627c443.png"
                        - let displayImage = profile_path == null ? avatarImage : apiImage
                        img(src=`${displayImage}` alt=`${cast.name}`)
                    div(class="card-text movie-title tv-text-color text-center mt-1")= cast.name
                    div(class="card-text movie-release-date tv-text-color text-danger text-center mt-1")= cast.character
    div(class="similarMovies")
        div(class="h3 tag-info text-center") Similar 
            span(class="popular-tag") Movies
            | .
        div(class="flex-items")
            if(similarMovies.results == "")
                div(class="no-similars")
                    div(class="no-similars-img")
                        img(src="/images/undraw_empty_xct9.png", alt="undraw-empty")
                    div(class="no-similars-msg")
                        div(class="tag-info text-center mt-2 text-info") No Similar Movies Found.
            else
                each movie in similarMovies.results
                    div(class="movie-card")
                        div(class="movie-img-card")
                            a(href=`/movie/${movie.id}/`)
                                img(src=`https://image.tmdb.org/t/p/w500/${movie.poster_path || movie.backdrop_path}`, alt=`${movie.title}`)
                        div(class="card-text movie-title")
                            a(href=`/movie/${movie.id}/` class="decoration-none")= movie.title
                        div(class="card-text movie-release-date")= movie.release_date