extends layout 

block content
    div(class="tv-detail-banner container-fluid")
        div(class="movie-img")
            img(src=`https://image.tmdb.org/t/p/w500${TvDetails.poster_path}`, alt="")
    div(class="movie-info text-center")
        div(class="movie-detail-title") #{TvDetails.name}
            - const capturedDate = new Date(TvDetails.first_air_date)
            - let year = capturedDate.getFullYear()
                span(class="yr-released")  ( #{year} )
        div(class="genres-time") 
            i #{TvDetails.status}
            span()  #{TvDetails.first_air_date} 
            - let genresArray = []
            - TvDetails.genres.map( (genre) => { genresArray.push(genre.name)})
            - let genre = genresArray.join(", ")
                span(class="genres")  #{genre}
        div(class="video-movie-links mt-2 mb-2")
            a(href=`${TvDetails.homepage}`) 
                div(class="avatar-icon text-center")
                    i(class="fas fa-link text-primary mt-3")
            div(class="margin-ryt")
                a(href="" class="btn trailer-btn btn-outline-primary mt-2") 
                    i(class="fas fa-play")
                    span(class="")  Play Trailer
            //- div(class="trailer-video")
            //-     iframe(width="320" height="250" src=`https://www.youtube.com/embed/${youTubeKey}`)
        div(class="tagline") #{TvDetails.tagline}
        div(class="overview") Overview
        div(class="overview-description") #{TvDetails.overview}
        div(class="overview") Created By
        div(class="tag-info") #{TvDetails.created_by[0].name}
    div(class="topTvBilledCast")
        div(class="h3 tag-info on-tv-text-color") Top 
            span(class="popular-tag") Series Cast
            | .
        div(class="flex-items tvCast")
            - for(let count = 0; count <= 30; count++)
                div(class="movie-card")
                    div(class="movie-img-card")
                        - let profile_path = tvCredits.cast[count].profile_path
                        - let apiImage = `https://image.tmdb.org/t/p/w500${profile_path}`
                        - let avatarImage = "https://mir-s3-cdn-cf.behance.net/project_modules/disp/629c1f14015191.5627be627c443.png"
                        - let displayImage = profile_path == null ? avatarImage : apiImage
                        img(src=`${displayImage}` alt=`${tvCredits.cast[count].original_name}`)
                    div(class="card-text movie-title tv-text-color text-center mt-1")= tvCredits.cast[count].original_name
                    div(class="card-text movie-release-date tv-text-color text-danger text-center mt-1")= tvCredits.cast[count].roles[0].character
                    div(class="card-text movie-release-date tv-text-color text-danger text-center mt-1")
                        span(class="episodes-count text-primary")= tvCredits.cast[count].total_episode_count
                        span(class="text-info")  Episodes
    div(class="topTvCrewCast")
        div(class="h3  tag-info") Top 
            span(class="popular-tag") Crew
            | .
        div(class="flex-items tvCast")
            - let crewLength = tvCredits.crew.length >= 30 ? 30 : tvCredits.crew.length
            - for(let count = 0; count < crewLength; count++)
                div(class="movie-card")
                    div(class="movie-img-card")
                        - let profile_path = tvCredits.crew[count].profile_path
                        - let apiImage = `https://image.tmdb.org/t/p/w500${profile_path}`
                        - let avatarImage = "https://mir-s3-cdn-cf.behance.net/project_modules/disp/629c1f14015191.5627be627c443.png"
                        - let displayImage = profile_path == null ? avatarImage : apiImage
                        img(src=`${displayImage}` alt=`${tvCredits.crew[count].original_name}`)
                    div(class="card-text movie-release-date text-center mt-1")= tvCredits.crew[count].original_name
                    div(class="card-text movie-release-date tv-text-color text-danger text-center mt-1")= tvCredits.crew[count].department
                    div(class="card-text movie-release-date tv-text-color text-danger text-center mt-1")
                        span(class="episodes-count text-primary")= tvCredits.crew[count].total_episode_count
                        span(class="text-info")  Episodes
    div(class="currentSeason")
        div(class="h3 tag-info on-tv-text-color") Current 
            span(class="popular-tag") Season
            | .
        div(class="flex-items unflex currentSeasonInfos")
            - let currentSeason = TvDetails.seasons.length - 1
            div(class="movie-img-card center")
                img(src=`https://image.tmdb.org/t/p/w500${TvDetails.seasons[currentSeason].poster_path}`, alt="")
            div(class="currentSeasonInfo")
                div(class="currentSeasonName responsiveCenter tag-info")= TvDetails.seasons[currentSeason].name
                div(class="yearNEpisodesCount responsiveCenter") #{TvDetails.seasons[currentSeason].air_date} | #{TvDetails.seasons[currentSeason].episode_count} Episodes
                div(class="overview responsiveCenter") Overview
                div(class="overview-description responsiveCenter")= TvDetails.seasons[currentSeason].overview
    div(class="similarMovies")
        div(class="h3 tag-info") Similar 
            span(class="popular-tag") Tv Shows
            | .
        div(class="flex-items")
            each tvShows in similarShows.results
                div(class="movie-card")
                    div(class="movie-img-card")
                        a(href=`/tv/${tvShows.id}/`)
                            img(src=`https://image.tmdb.org/t/p/w500/${tvShows.poster_path || tvShows.backdrop_path}`, alt=`${tvShows.name}`)
                    div(class="card-text movie-title")
                        a(href=`/tv/${tvShows.id}/` class="decoration-none")= tvShows.name
                    div(class="card-text movie-release-date")= tvShows.first_air_date